* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    to bottom right,
    rgb(15, 23, 42),
    rgb(30, 41, 59),
    rgb(15, 23, 42)
  ) !important;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
